<app-header [label]="'HEADER.STAFF' | translate" [icon]="faUserShield"></app-header>
<app-logged-user></app-logged-user>
<div class="edit-add-user p-2 pl-2 pr-2 ml-3 mr-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="form_name">{{"PATIENTS.FORM.NAME" |translate}}</label>
      <input type="text" formControlName="name" class="form-control" id="form_name"
             placeholder="">
      <small class="form-text text-muted">{{"PATIENTS.FORM.NAME_PLACEHOLDER" |translate}}</small>
    </div>
    <div class="form-group">
      <label for="form_last_name">{{"PATIENTS.FORM.LAST_NAME" |translate}}</label>
      <input type="text" formControlName="last_name" class="form-control" id="form_last_name"
             placeholder="">
      <small class="form-text text-muted">{{"PATIENTS.FORM.LAST_NAME_PLACEHOLDER" |translate}}</small>
    </div>
    <div class="form-group">
      <label for="form_phone">{{"PATIENTS.FORM.PHONE" |translate}}</label>
      <input type="phone" formControlName="phone" class="form-control" id="form_phone"
             placeholder="">
      <small class="form-text text-muted">{{"PATIENTS.FORM.PHONE_PLACEHOLDER" |translate}}</small>
    </div>
    <div class="form-group">
      <label for="form_email">{{"PATIENTS.FORM.EMAIL" |translate}}</label>
      <input type="email" formControlName="email" class="form-control" id="form_email"
             placeholder="">
      <small class="form-text text-muted">{{"PATIENTS.FORM.EMAIL_PLACEHOLDER" |translate}}</small>
    </div>
    <div class="form-group">
      <label for="form_age">{{"PATIENTS.FORM.AGE" |translate}}</label>
      <input type="number" formControlName="age" class="form-control" id="form_age"
             placeholder="">
      <small class="form-text text-muted">{{"PATIENTS.FORM.AGE_PLACEHOLDER" |translate}}</small>
    </div>
    <div class="form-group">
      <label for="form_address">{{"PATIENTS.FORM.ADDRESS" |translate}}</label>
      <input type="text" formControlName="address" class="form-control" id="form_address"
             placeholder="">
      <small class="form-text text-muted">{{"PATIENTS.FORM.ADDRESS_PLACEHOLDER" |translate}}</small>
    </div>
    <div class="form-group">
      <label for="form_emergency_name">{{"PATIENTS.FORM.EMERGENCY_NAME" |translate}}</label>
      <input type="text" formControlName="emergency_name" class="form-control" id="form_emergency_name"
             placeholder="">
      <small class="form-text text-muted">{{"PATIENTS.FORM.EMERGENCY_NAME_PLACEHOLDER" |translate}}</small>
    </div>
    <div class="form-group">
      <label for="form_emergency_last_name">{{"PATIENTS.FORM.EMERGENCY_LAST_NAME" |translate}}</label>
      <input type="text" formControlName="emergency_last_name" class="form-control" id="form_emergency_last_name"
             placeholder="">
      <small class="form-text text-muted">{{"PATIENTS.FORM.EMERGENCY_LAST_NAME_PLACEHOLDER" |translate}}</small>
    </div>
    <div class="form-group">
      <label for="form_emergency_phone">{{"PATIENTS.FORM.EMERGENCY_PHONE" |translate}}</label>
      <input type="text" formControlName="emergency_phone" class="form-control" id="form_emergency_phone"
             placeholder="">
      <small class="form-text text-muted">{{"PATIENTS.FORM.EMERGENCY_PHONE_PLACEHOLDER" |translate}}</small>
    </div>
    <div class="form-group">
      <label>{{"PATIENTS.FORM.TAG" |translate}}</label>
      <tag-input [identifyBy]="'key'" [displayBy]="'value'" [placeholder]="''" [(ngModel)]="itemsAsObjects"
                 [ngModelOptions]="{standalone: true}"></tag-input>
      <small class="form-text text-muted">{{"PATIENTS.FORM.TAG_PLACEHOLDER" |translate}}</small>
    </div>
    <div class="form-group">
      <label>{{"PATIENTS.FORM.IMAGES" |translate}}</label>
      <ng-template #itemTemplate let-fileItem="fileItem" let-uploadProgress="uploadProgress">
        <!--        {{fileItem | json}}-->
        <!--        <button  (click)="uploader.removeFile(fileItem)">Remove</button>-->
      </ng-template>
      <div class="col-12 row m-0 p-0">
        <div class="col-4 pl-0 pt-0 pb-1 pr-1" [ngClass]="{'image-loading':img?.loading}" *ngFor="let img of images">
          <span class="icon-close" (click)="removeImage(img)">
            <fa-icon [icon]="faTimes"></fa-icon>
          </span>
          <img (click)="openModal(img.online)" *ngIf="img?.src" class="img-gallery" [src]="img?.online?.small" alt="">
          <img (click)="openModal(img)" *ngIf="img?.small" class="img-gallery" [src]="img?.small" alt="">
        </div>
        <div class="col-4 p-0">
          <ngx-file-picker
            class="customPicker"
            (fileAdded)="addImage($event)"
            (uploadSuccess)="uploadImage($event)"
            (uploadFail)="uploadImageFail($event)"
            [adapter]="adapter"
            [itemTemplate]="itemTemplate">
            <div class="dropzoneTemplate text-center">
              <fa-icon [icon]="faImage" size="2x"></fa-icon>
              <!--              <button type="button" class="btn btn-sm btn-outline-info">{{"GENERAL.UPLOAD" | translate}}</button>-->
            </div>
          </ngx-file-picker>

        </div>
      </div>
      <small class="form-text text-muted">{{"PATIENTS.FORM.IMAGES_PLACEHOLDER" |translate}}</small>
    </div>
    <div>
      <ng-template #template>
        <!--        <div class="modal-header">-->
        <!--          <h4 class="modal-title pull-left">Modal</h4>-->
        <!--          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">-->
        <!--            <span aria-hidden="true">&times;</span>-->
        <!--          </button>-->
        <!--        </div>-->


      </ng-template>
    </div>
    <div class="d-flex">
      <div class="w-75">
        <button [appLoadingButton]="loading" [dis]="!form.valid"
                [label]="'GENERAL.LOADING' | translate"
                class="btn btn-info w-100">
          ENVIAR
        </button>
      </div>
      <div class="w-25 pl-1">
        <button [disabled]="!form.valid"
                (click)="trash()"
                type="button"
                class="btn btn-danger  w-100">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    </div>
    <!--    <div class="text-center">-->
    <!--      <button [disabled]="!form.valid" class="btn btn-info btn-block">{{"PATIENTS.FORM.SEND" |translate}}</button>-->
    <!--    </div>-->
  </form>
</div>
