:host {
  display: block;
  background-color: #fff;
  padding-top: .5rem;
}

.header {
  font-weight: 600;
  box-shadow: 0 0 14px rgba(135, 135, 135, 0.14);
}
.img-logo{
  height: 2rem;
  /*width: 100%;*/
  object-fit: contain;
}
.border-color:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  /* background: red; */
  background-position: center;
  background-size: cover;
  background-image: url("../../../assets/images/footer.jpg");
}
