<app-header></app-header>
<div>
  <img class="img-logo" src="../../../../assets/images/header.jpg" alt="">
</div>

<div class="m-2 mt-4 mb-4">
  <div class="content-row p-2 mt-4">
    <div class="col-12 m-0 row p-0">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" class="w-100">
        <div class="form-group">
          <label for="login_email">{{"LOGIN.EMAIL" | translate}}</label>
          <input type="email" autocomplete="off" formControlName="email" class="form-control" id="login_email">
          <small id="emailHelp" class="form-text text-muted">{{"LOGIN.EMAIL_PLACEHOLDER" | translate}}</small>
        </div>
        <div class="form-group">
          <label for="login_password">{{"LOGIN.PASSWORD" | translate}}</label>
          <input type="password" autocomplete="off" formControlName="password" class="form-control" id="login_password"
                 placeholder="Password">
        </div>
        <button type="submit" [disabled]="!form.valid" class="btn btn-info btn-block">
          {{"LOGIN.SEND" | translate}}
        </button>
      </form>
    </div>
  </div>
</div>
