.content-row {
  font-size: .85rem;
  font-weight: 500;
}

.block {
  background: white;
  height: 7rem;
  vertical-align: middle;
  position: relative;
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(178, 178, 178, 0.22);
}
