<app-header [label]="'HEADER.INSTITUTIONS' | translate" [icon]="faHome"></app-header>
<app-logged-user></app-logged-user>
<div class="edit-add-user p-2 pl-2 pr-2 ml-3 mr-3">
  <div class="d-flex pt-0 pb-1 mb-2 pl-0 pr-0 border-bottom-section">
    <span class="badge badge-info mr-2" (click)="report()">
      <fa-icon [icon]="faDownload"></fa-icon>
      {{"INSTITUTIONS.REPORT" |translate}}</span>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="form_name">{{"INSTITUTIONS.FORM.NAME" |translate}}</label>
      <input type="text" formControlName="name" class="form-control" id="form_name"
             placeholder="">
      <small class="form-text text-muted">{{"INSTITUTIONS.FORM.NAME_PLACEHOLDER" |translate}}</small>
    </div>
    <div class="form-group">
      <label for="form_address">{{"INSTITUTIONS.FORM.ADDRESS" |translate}}</label>
      <input type="text" formControlName="address" class="form-control" id="form_address"
             placeholder="">
      <small class="form-text text-muted">{{"INSTITUTIONS.FORM.ADDRESS_PLACEHOLDER" |translate}}</small>
    </div>
    <div class="form-group">
      <label for="form_description">{{"INSTITUTIONS.FORM.DESCRIPTION" |translate}}</label>
      <!--      <input type="text"  class="form-control" id="form_description"-->
      <!--             placeholder="">-->
      <textarea name="" id="form_description" formControlName="description" class="form-control" cols="30"
                rows="3"></textarea>
      <small class="form-text text-muted">{{"INSTITUTIONS.FORM.DESCRIPTION_PLACEHOLDER" |translate}}</small>
    </div>
    <!--        <div class="form-group">-->
    <!--          <label for="form_level">{{"USER.FORM.LEVEL" |translate}}</label>-->
    <!--          <select formControlName="level" class="form-control" id="form_level">-->
    <!--            <option *ngFor="let level of levels" [value]="level?.value">{{level?.name}}</option>-->
    <!--          </select>-->
    <!--          <small class="form-text text-muted">{{"USER.FORM.LEVEL_PLACEHOLDER" |translate}}</small>-->
    <!--        </div>-->
    <div class="form-group">
      <label>{{"INSTITUTIONS.FORM.TAG" |translate}}</label>
      <tag-input [identifyBy]="'key'" [displayBy]="'value'" [placeholder]="''" [(ngModel)]="itemsAsObjects"
                 [ngModelOptions]="{standalone: true}"></tag-input>
      <small class="form-text text-muted">{{"USER.FORM.TAG_PLACEHOLDER" |translate}}</small>
    </div>
    <div class="form-group" *ngIf="id">
      <label for="form_address">{{"INSTITUTIONS.FORM.FORMS" |translate}}</label>
      <app-list-forms [target]="id"></app-list-forms>
      <!--      <small class="form-text text-muted">{{"INSTITUTIONS.FORM.ADDRESS_PLACEHOLDER" |translate}}</small>-->
    </div>
    <div class="form-group">
      <label>{{"INSTITUTIONS.FORM.IMAGES" |translate}}</label>
      <ng-template #itemTemplate let-fileItem="fileItem" let-uploadProgress="uploadProgress">
        <!--        {{fileItem | json}}-->
        <!--        <button  (click)="uploader.removeFile(fileItem)">Remove</button>-->
      </ng-template>
      <div class="col-12 row m-0 p-0">
        <div class="col-4 pl-0 pt-0 pb-1 pr-1" [ngClass]="{'image-loading':img?.loading}" *ngFor="let img of images">
          <span class="icon-close" (click)="removeImage(img)">
            <fa-icon [icon]="faTimes"></fa-icon>
          </span>
          <img *ngIf="img?.src" class="img-gallery" [src]="img?.src" alt="">
          <img *ngIf="img?.small" class="img-gallery" [src]="img?.small" alt="">
        </div>
        <div class="col-4 p-0">
          <ngx-file-picker
            class="customPicker"
            (fileAdded)="addImage($event)"
            (uploadSuccess)="uploadImage($event)"
            (uploadFail)="uploadImageFail($event)"
            [adapter]="adapter"
            [itemTemplate]="itemTemplate">
            <div class="dropzoneTemplate text-center">
              <fa-icon [icon]="faImage" size="2x"></fa-icon>
              <!--              <button type="button" class="btn btn-sm btn-outline-info">{{"GENERAL.UPLOAD" | translate}}</button>-->
            </div>
          </ngx-file-picker>

        </div>
      </div>
      <small class="form-text text-muted">{{"INSTITUTIONS.FORM.IMAGES_PLACEHOLDER" |translate}}</small>
    </div>

    <div class="d-flex">
      <div class="w-75">
        <button [appLoadingButton]="loading" [dis]="!form.valid"
                [label]="'GENERAL.LOADING' | translate"
                class="btn btn-info w-100">
          ENVIAR
        </button>
      </div>
      <div class="w-25 pl-1">
        <button [disabled]="!form.valid"
                (click)="trash()"
                type="button"
                class="btn btn-danger  w-100">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    </div>
  </form>
</div>
