/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  background-color: #f6f8fa;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #222;
}

.customPicker {
  /*width: 25% !important;*/
  height: 6rem !important;
  overflow: hidden !important;
}

.customPicker .file-drop-wrapper {
  padding-top: 0 !important;
}

.customPicker file-drop {
  padding: 0 !important;
}

.customPicker #dropZone {
  max-width: 440px;
  padding: 2rem 0 !important;
  margin: auto;
  border: 1px solid #efefef !important;
  border-radius: 3px !important;
}

.files-preview-wrapper {
  display: none;
}

.customPicker .file-browse-button {
  background-color: #f5f5f5 !important;
  padding: 8px 18px !important;
  color: #8f8f8f !important;
  font-weight: 500 !important;
}

.img-gallery {
  width: 100%;
  height: 6rem;
  object-fit: cover;
  border: solid 1px #eaeaea;
  border-radius: 3px;
}

.image-loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-size: 40%;
  width: 100%;
  background-position: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.69);
  background-repeat: no-repeat;
  background-image: url("./assets/images/loading-color.svg");
}

.icon-close {
  position: absolute;
  top: -8px;
  background: #e4e4e4;
  padding: .2rem .47rem;
  border-radius: 23px;
  width: 1.5rem;
  height: 1.5rem;
}

tag-input tag {
  width: 100%;
  border-radius: 3px !important;
  line-height: 30px !important;
}

tag-input tag div {
  width: 100% !important;
}

tag-input-form {
  width: 100% !important;
}

tag-input-form > form > input {
  width: 100%;
}

.form-control {
  border: solid 0px white;
  border-radius: 0px;
  font-size: .8rem;
  background-color: rgb(250, 250, 250);
  border-bottom: solid 1px #dddddd;
}

.photo-viewer {
  background-color: transparent;
}

.wrapper-photo:before {
  width: 100%;
  height: 100%;
  content: "f";
  position: absolute;
  filter: blur(2px);
  z-index: -9;
  background-position: center;
  background-size: cover;
  background-color: white;
  background-image: var(--images-background);
}

.wrapper-photo:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: solid 0px white;
  outline: white solid 1px;
}

.photo-viewer .modal-content {
  border: 0px;
  background-color: transparent;
  border-radius: 0;
}

.photo-viewer .modal-content .image-photo {
  width: 100%;
  max-height: 60vh;
  object-fit: contain;
}

.modal-footer-image {
  font-size: .8rem;
  color: white;
  background-color: rgb(75, 75, 75);
  outline: rgb(75, 75, 75) solid 1px;
}

:root {
  --images-background: none;
}
