<app-header label="User" [icon]="faUser"></app-header>
<app-logged-user></app-logged-user>
<div class="edit-add-user p-2 pl-2 pr-2 ml-3 mr-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="form_name">{{"USER.FORM.NAME" |translate}}</label>
      <input type="text" formControlName="name" class="form-control" id="form_name"
             placeholder="">
      <small class="form-text text-muted">{{"USER.FORM.NAME_PLACEHOLDER" |translate}}</small>
    </div>
    <div class="form-group">
      <label for="form_email">{{"USER.FORM.EMAIL" |translate}}</label>
      <input type="email" formControlName="email" class="form-control" id="form_email"
             placeholder="">
      <small class="form-text text-muted">{{"USER.FORM.EMAIL_PLACEHOLDER" |translate}}</small>
    </div>
    <div class="form-group">
      <label for="form_level">{{"USER.FORM.LEVEL" |translate}}</label>
      <select formControlName="level" class="form-control" id="form_level">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <small class="form-text text-muted">{{"USER.FORM.LEVEL_PLACEHOLDER" |translate}}</small>
    </div>
    <div class="text-center">
      <button>Envia {{form.valid}}</button>
    </div>

  </form>
</div>
